doctype html
html
    head
        title Knowledgebase
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')

    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            .container-fluid
                a.navbar-brand(href='/') KnowledgeBase
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
                #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-md-0
                    li.nav-item
                    a.nav-link(aria-current='page' href='/') Home
                   
                    if user
                        li.nav-item
                            a.nav-link(href='/articles/add') Add Article
                        li.nav-item
                            a.nav-link(href='/users/logout') Logout
                    else
                        li.nav-item
                            a.nav-link(href='/users/register') Register
                        li.nav-item
                            a.nav-link(href='/users/login') Login
        .container
            != messages('message',locals)
            if errors
                each error,i in errors
                    div(class="alert alert-danger") #{error.param} : #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2020
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')
